.candy-container {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.candy-card {
    border: solid 1px black;
    width: 30%;
    padding: 1em;
    button {
        background-color: blue;
        color: white;
    }
}